/* Contenedor Principal*/
.proyectos-container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 30px;

}

.proyectos-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 50px;
    
}

.proyectos-title span {
    color: #6aa9ff;

}

/* Grid de proyectos*/
.proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;

}

/* Tarjeta de proyecto*/
.proyecto-card {
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.18);

}

/*imagen del proyecto */
.proyecto-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;

}

/*Contenido interno*/
.proyecto-info {
    padding: 20px;

}

.proyecto-info h3 {
    font-size: 1.4rem;
    color: #1a1a1a;
    margin-bottom: 12px;

}

.proyecto-info p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5rem;

}

/* Etiquetas*/
.proyecto-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 15px;

}

.proyecto-tags span {
    font-size: 0.8rem;
    padding: 6px 10px;
    background: #e0ecff;
    color: #3777d9;
    border-radius: 6px;
    font-weight: 600;

}

/*Boton ver mas*/
.proyecto-vermas {
    display: inline-block;
    margin-top: 20px;
    font-size: 0.95rem;
    font-weight: bold;
    color: #6aa9ff;
    text-decoration: none;
    transition: 0.3;

}

.proyecto-vermas:hover {
    color: #4b8bd4;

}

/*Animacion aparicion*/
@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.proyecto-card {
    animation: fadeSlide 0.8s ease forwards;

}

/*Delay progresivo automatico*/
.proyecto-card:nth-child(1) {animation-delay: 0.1s;}
.proyecto-card:nth-child(2) {animation-delay: 0.2s;}
.proyecto-card:nth-child(3) {animation-delay: 0.3s;}
.proyecto-card:nth-child(4) {animation-delay: 0.4s;}